*{
	padding:0;
	margin:0;	
}
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    overflow-y: scroll;
    overflow-x: hidden;
}
html, body{
	background-color: #000;

}
body{
	font-size:5vmin;	
}
h2{
	font-size:2rem;
	line-height:1.6;

     font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    text-align: center;
}
p{
	font-size:1rem;
	line-height:2;
/*	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;	*/
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

canvas {
    display: block;
    margin: 0 auto;
}

.contactcolor {
    fill: #eee;;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid white;
    padding: 5%;
}

button {
    padding: 5%;
}

#map-canvas {
    margin: 0 auto;
    width: 270px;
    height: 400px;
}
/**************************************
          PAGES
***************************************/
[data-role=page]{
  
	background-color:#000;
	color: #eee;
    overflow-x: hidden;
	position:absolute;
	top:4rem;
	padding:1rem 1rem 2rem 1rem;

    left: 100%;
    right: 0;  

    transition: left 0.2s, opacity 1.5s ease-in-out;
    -moz-transition: left 0.2s, opacity 1.5s ease-in-out;
    -webkit-transition: left 0.2s, opacity 1.5s ease-in-out;
    opacity: 0;
    
    
    
    
}
.active{

    opacity: 1;
    left: 0;
    
	
}

[data-role=overlay]{
  display: none;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,0.82);
}

[data-role=pop-up]{
    display: none;
  position:fixed;
  top:20%;
  left:10%;
  width: 60%;
  z-index:15;
  max-height:80%;
  padding:5vh;
  border:1px solid #333;
  min-height:10%;
  color:#fff;
  background-color:#666;
  box-shadow:1px 1px 2px rgb(0,0,0);
}

/**************************************
          TITLE
***************************************/
.apptitle{
	height:3rem;
	background-color: #333;
	color: #fff;
    
}
.apptitle h1{
	font-size: 1.0rem;
	line-height: 2rem;
	padding: 0.5rem 1.0rem;
	text-align:center;
	letter-spacing: 5px;
/*	word-spacing: 5px;*/
	text-transform:uppercase;

    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    width: 100%;
}



   
   
